@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
<div class="banner" data-interchange="[@Umbraco.Field("BannerImageLarge"), (default)], [@Umbraco.Field("BannerImageSmall"), (small)], [@Umbraco.Field("BannerImageMedium"), (medium)], [@Umbraco.Field("BannerImageLarge"), (large)]">
    <div class="row">
        <div class="large-5 columns">
            <h1><span>@Umbraco.Field("BannerHeading")</span></h1>
            <h3 class="sub-header"><span>@Umbraco.Field("BannerSubheading")</span></h3>
        </div>
    </div>
</div>

<div class="banner-follow">
    <div class="row">
        <div class="large-12 columns">
            @Umbraco.Field("BannerSummaryLine")
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-8 small-12 columns">
                <h3>Virginia Tech Competitive Cheerleading</h3>

                @Umbraco.Field("OrganizationSummary")
            </div>

            <div class="large-4 columns show-for-medium-up">
                <div class="panel-box">
                    <h4>Connect</h4>
                    <h6>@Umbraco.Field("SocialHeading")</h6>
                    <br />

                    <ul class="small-block-grid-3 text-center">
                        @if (CurrentPage.HasValue("FacebookURL"))
                        {
                            <li>
                                <a href="@Umbraco.Field("FacebookURL")">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                            </li>
                        }

                        @if (CurrentPage.HasValue("TwitterURL"))
                        {
                            <li>
                                <a href="@Umbraco.Field("TwitterURL")">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>
                            </li>
                        }

                        @if (CurrentPage.HasValue("InstagramURL"))
                        {
                            <li>
                                <a href="@Umbraco.Field("InstagramURL")">
                                    <i class="fa fa-instagram fa-2x"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-4 columns show-for-medium-up">
        <div class="panel-box">
            <h4>Officers</h4>

            @{
                var organizationNodeRef = Umbraco.TypedContentSingleAtXPath("//Organization");
                var officers = organizationNodeRef.Children
                    .Where("IsOfficer");

                <ul>
                    @foreach (var item in officers.Where("Visible"))
                    {
                        <li>
                            <strong>@item.GetPropertyValue("Position") </strong>

                            <a href="mailto:@item.GetPropertyValue("EmailAddress")?subject=Virginia Tech Competitive Cheerleading | Contact Us">
                                @item.GetPropertyValue("FirstName") @item.GetPropertyValue("LastName")
                            </a>
                        </li>
                    }
                </ul>
            }

            <br />
            <h4>Coaches</h4>

            @{
                var coachNode = Umbraco.TypedSearch("Coach");

                if (coachNode != null)
                {
                    <ul>
                        @foreach (var item in coachNode
                            .Where(n => n.GetPropertyValue("FirstName") != null))
                        {
                            <li>
                                <strong>
                                    @item.GetPropertyValue("FirstName") @item.GetPropertyValue("LastName")
                                </strong>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>

    <div class="large-8 small-12 columns">
        <h3>@Umbraco.Field("LocationHeading")</h3>

        @Umbraco.Field("locationInformation")
    </div>
</div>
