@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderPartial("PageHeading"); }

<div class="row">
    <div class="large-12 columns">
        <h3>@Umbraco.Field("FirstSectionHeading")</h3>

        @Umbraco.Field("FirstSectionSummary")

        <div class="row">
            <div class="large-4 columns">
                <h4>
                    @Umbraco.Field("FirstSectionFirstColumnHeading")
                </h4>

                @Umbraco.Field("FirstSectionFirstColumn")
            </div>

            <div class="large-4 columns">
                <h4>
                    @Umbraco.Field("FirstSectionSecondColumnHeading")
                </h4>

                @Umbraco.Field("FirstSectionSecondColumn")
            </div>

            <div class="large-4 columns">
                <h4>
                    @Umbraco.Field("FirstSectionThirdColumnHeading")
                </h4>

                @Umbraco.Field("FirstSectionThirdColumn")
            </div>
        </div>
    </div>
</div>

<div class="panel">

    <div class="row">
        <div class="large-8 columns">
            <h3>@Umbraco.Field("CalloutSectionHeading")</h3>

            @Umbraco.Field("CalloutSection")
        </div>

        <div class="large-4 columns">
            <div class="panel-box">
                <h4>@Umbraco.Field("CalloutPanelHeading")</h4>

                @Umbraco.Field("CalloutPanel")
            </div>
        </div>
    </div>
</div>

@{
    if (CurrentPage.HasValue("SecondSectionHeading"))
    {
        <div class="row">
            <div class="large-12 columns">
                <h3>@Umbraco.Field("SecondSectionHeading")</h3>

                @Umbraco.Field("SecondSection")
            </div>
        </div>
    }
}