@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderPartial("PageHeading"); }

<div class="row">
    <div class="large-12 columns">
        @{
            var events = Umbraco.TypedContentAtXPath("//Event")
                .Where("Visible");
        }

        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
            @foreach (var item in events)
            {
                <li>
                    <div class="panel-box">
                        @if (item.HasValue("EventLogo"))
                        {
                            <img src="@item.GetPropertyValue("EventLogo")" />
                        }
                        <h4>
                            @item.GetPropertyValue("EventName")
                        </h4>

                        <h6>
                            <strong>
                                @item.GetPropertyValue("EventDate")
                            </strong>
                        </h6>

                        <h6>
                            @item.GetPropertyValue("EventLocation")
                        </h6>

                        @if (item.HasValue("AdditionalInformation"))
                        {
                            <p>
                                @item.GetPropertyValue("AdditionalInformation")
                            </p>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>

</div>
