@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderPartial("PageHeading"); }

<div class="row">
    <div class="large-12 columns">

        @{
            var upcomingEvents = Model.Content.Children
                .Where("EventStartDate >= DateTime.Now.Date")
                .OrderBy("EventStartDate");

            var pastEvents = Model.Content.Children
                .Where("EventStartDate < DateTime.Now.Date")
                .OrderByDescending(e => e.GetPropertyValue("EventStartDate"));
                
            var upcomingEventsCount = upcomingEvents.Count();
            var pastEventsCount = pastEvents.Count();

        }

        @if (upcomingEventsCount > 0)
        {
            <h3>Upcoming Events</h3>

            @PrintEvents(upcomingEvents)
        }

        @if (pastEventsCount > 0)
        {
            <h3>Past Events</h3>

            @PrintEvents(pastEvents)
        }
        
        @if (upcomingEventsCount == 0 &&
            pastEventsCount == 0)
        {
            <h3>
                Add some exciting events
            </h3>
        }
    </div>
</div>

@helper PrintEvents(IQueryable<IPublishedContent> events)
{
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        @foreach (var item in events)
        {
            <li>
                <div class="panel-box">

                    @if (item.HasValue("EventLogo"))
                    {
                        <div class="img-container ratio-1-1">
                            <img src="@item.GetPropertyValue("EventLogo")" />
                        </div>
                    }
                    <h4>
                        @item.GetPropertyValue("EventName")
                    </h4>

                    <h6>
                        <strong>
                            @item.GetPropertyValue("EventDate")
                        </strong>
                    </h6>

                    <h6>
                        @item.GetPropertyValue("EventLocation")
                    </h6>

                    @if (item.HasValue("EventPlacement"))
                    {
                        <p>
                            @item.GetPropertyValue("EventPlacement")
                        </p>
                    }

                    @if (item.HasValue("AdditionalInformation"))
                    {
                        <p>
                            @item.GetPropertyValue("AdditionalInformation")
                        </p>
                    }
                </div>
            </li>
        }
    </ul>
}
