@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer>
    <div class="row footer">
        <div class="small-12 medium-4 large-4 columns">
            @Umbraco.Field("footerSummary", recursive: true)
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-facebook fa-2x"></i>
                    <span>
                        Connect with us on 
                        <a href="@Umbraco.Field("facebookURL", recursive: true)">Facebook</a>
                        to keep up with the latest news and competitions
                    </span>
                </li>
                <li>
                    <i class="fa-li fa fa-twitter fa-2x"></i>
                    <span>
                        Follow us on 
                        <a href="@Umbraco.Field("twitterURL", recursive: true)">Twitter</a>
                        for updates throughout the year
                    </span>
                </li>
                <li>
                    <i class="fa-li fa fa-instagram fa-2x"></i>
                    <span>
                        Check us out on 
                        <a href="@Umbraco.Field("stackoverflowLink", recursive: true)">Instagram</a>
                        as we compete up and down the East Coast
                    </span>
                </li>
            </ul>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="menu-container">
                <a href="/portfolio"><h5>Portfolio</h5></a>
                <span>Browse some of my work</span>
            </div>
            <div class="menu-container">
                <a href="/about"><h5>About</h5></a>
                <span>Learn more about my expertise</span>
            </div>
            <div class="menu-container">
                <a href="/blog"><h5>Blog</h5></a>
                <span>Technology tutorials and perspectives</span>
            </div>
            <div class="menu-container">
                <a href="/contact"><h5>Contact</h5></a>
                <span>Get in touch with me</span>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="small-12 medium-6 large-6 columns">
            @Umbraco.Field("copyright", recursive: true)<br>
        </div>
        <div class="medium-6 large-6 columns hide-for-small text-right">
            Developed by <a href="http://shermandigital.com/">Chris Sherman</a>
        </div>
        <div class="small-12 columns show-for-small">
            <br>
            Developed by <a href="http://shermandigital.com/">Chris Sherman</a>
        </div>
    </div>
</footer>
